*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(233, 233, 244);
    background-image: url(texture-background.jpg);
    background-repeat: repeat;   
    overflow-x: hidden; 
    scroll-behavior: smooth;
    background-blend-mode: screen;
    font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    align-items: center;
}

nav .logo-nav{
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-left: -270px;
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;  
    
}

nav ul li:hover{
    color: white;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 5px;
    color: black;
}

.icon-home{
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.icon-calculate{
    width: 35px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-reference{
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

button{
    cursor: pointer;
}

#reference {
    margin: 80px;
    font-family: 'Times New Roman', Times, serif;   
    font-weight: normal;
    font-size: larger;
}

#reference .teks{   
    font-size: larger;
}  

#fig{   
    font-size: smaller;
}   

.diagram{
    width: 500px;
    height: auto;
    align-items: center;
}

#formula{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: xx-large;
    height: 100px;
}

#eq{
    font-size: smaller;
}

.sub-bg{
    width: 2000px;
    height: auto;
    position: sticky;
    margin-top: -30px;

}

/* Tablet display*/
@media screen and (max-width: 1024px){
    
    #reference{

    }
    .landing-page{
        margin-top: 500px;
    }
    
    nav .logo-nav{
        margin-left: 40px;
    }

    nav ul .icon-home{
        padding-top: 20px;
    }

    nav ul .icon-calculate{
        margin: 0px 35px;
        padding-top: 15px;
        width: 40px;
        height: auto;
    }

    nav ul .icon-reference{
        margin: 0px 0px;
        padding-top: 17px;
    }
}

/* Mobile display*/
@media screen and (max-width: 576px){
    .menu-toggle{
        display: flex;
        left: 350px;
        background-blend-mode: screen;
        background-color: rgb(233, 233, 244);
    }

    
    .landing-page{
        margin-top: 500px;
    }

    nav span{
        opacity: 0;
    }
    
    nav .logo-nav{
        margin-left: 40px;
    }

    nav ul .icon-home{
        margin-left: 100px;
        padding-top: 20px;
    }

    nav ul .icon-calculate{
        margin: 0px 35px;
        padding-top: 15px;
        width: 40px;
        height: auto;
    }

    nav ul .icon-reference{
        margin: 0px 0px;
        padding-top: 17px;
    }
}

