

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Patrick Hand', cursive;
    background-color: rgb(233, 233, 244);
    background-image: url(texture-background.jpg);
    background-repeat: repeat;   
    overflow-x: hidden;
    overflow-y: hidden; 
    scroll-behavior: smooth;
    background-blend-mode: screen;
    font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 20px;
    align-items: center;
}

nav .logo-nav{
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    font-size: xx-large;
    letter-spacing: 5px;
    margin-top: 10px;
    margin-left: 5%;
}

nav ul {
    display: flex;
    list-style: none;
    width: 70vh;
    justify-content: space-between;  
    margin-left: 100vh;
}

nav ul li:hover{
    color: white;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 5px;
    color: black;
}

.icon-home{
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.icon-calculate{
    width: 35px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon-reference{
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

button{
    cursor: pointer;
    padding: 16px 32px;
    text-decoration: none;
    border-style: hidden;
    border-radius: 12px;
    display: flex;
    
}

button span{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    text-decoration: none;
}

:hover button{
    text-decoration: none;
    transition-duration: 0.4s;
    background-color: rgb(215, 225, 250);

}

.landing-img {
    width: 650px;
    height: auto;
    justify-content: space-evenly;
    z-index: -1;
}

.landing-page{
    padding: 70px 70px;
    display: flex;
}

.h1-landing{
    padding-top: 50px;
    font-size: 64px;
    font-weight: bolder;
}

.h1-landing span{
    font-size: 86px;
    color: rgb(45, 34, 158);
}
.content{
    display: flex;
    flex-direction: column;
}


button{
    cursor: pointer;
}

.sub-bg{
    width: 2000px;
    height: max-content;
    position: static;
    margin: -100px 0px;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    z-index: -1;
}



/* Tablet display*/
@media screen and (max-width: 1024px){
    .landing-img{
        height: 250px;
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 100px 0px;
        padding-left: 0px;
        position: sticky;
        z-index: 0;
    }

    nav ul{
        margin: 0px 0px;
        padding: 0px 70px;
        display: flex;
        flex-direction: row;
    }

    .landing-page{
        margin: 20px 0px;
    }

    .h1-landing{
        text-align: start;
        font-size: 24px;
        position: sticky;
        margin: -20px 0px;
    }

    .h1-landing span {
        font-size: 56px;
        margin: 20px 0px;
    }

    p{
        margin: 20px 0px;
    }

    .sub-bg{
        margin: -120px 0px;
        background-repeat: repeat;
    }
}

/* Mobile display*/
@media screen and (max-width: 576px){

    .landing-img{
        display: none;
    }

    .logo-nav{
        display: flex;
        padding: 10px 20px;
    }

    nav ul span{
        opacity: 0;
    }

    nav ul .icon-home{
        margin: 0px -40px;
        padding-top: 20px;
    }

    nav ul .icon-calculate{
        margin: 0px -60px;
        padding-top: 15px;
        width: 40px;
        height: auto;
    }

    nav ul .icon-reference{
        margin: 0px -130px;
        padding-top: 17px;
    }

    .h1-landing{
        font-size: 36px;
    }
    
    .h1-landing span{
        font-size: 72px;
    }

    .button{
        
        align-items: center;
        
    }

    .sub-bg{
        width: 2000px;
        height: auto;
        position: sticky;
        margin-top: -30px;

    }
}

